@use './mixin' as mixins;
@import './palette';

:root {
    @each $family, $set in $palette {
        @each $saturate, $clr in $set {
            #{mixins.generateCssClrVar($family, $saturate)}: #{$clr};
        }
    }

    --clr-base-accent: #0d1c2b;
    --clr-txt: rgba(0, 0, 0, 0.87);
    --clr-white-rgb: 255, 255, 255;

    // Buttons
    --rt-button-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.14);
}
