@use 'sass:math';

// px to rem
// font-size: rem(16);
$browser-context: 16;
@function rem($valueRem, $context: $browser-context) {
    @return #{math.div($valueRem, $context)}rem;
}

// media query
// @include media-breakpoint-down($device-sm) { font-size: 1rem; }
@mixin media-breakpoint-up($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@mixin media-breakpoint-down($size) {
    @media screen and (max-width: $size - 1) {
        @content;
    }
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
