$palette: (
    white: (
        100: #ffffff,
    ),
    gray: (
        5: #f5f6f8,
        10: #e8e8e8,
        15: #d1d1d1,
        20: #ccc,
    ),
    black: (
        15: #eeeeee,
        20: #e0e0e0,
        30: #b2cbca,
        40: #a3a3a3,
        60: #747474,
        80: #323033,
        100: #181818,
    ),
    red: (
        10: #fdedee,
        40: #f7b9bb,
        60: #f39699,
        100: #eb5055,
    ),
    orange: (
        70: #f2994a,
        80: #ee7a34,
    ),
    blue: (
        40: #b3ceef,
        80: #4285f4,
        100: #4284d7,
    ),
    green: (
        10: #e5f8f4,
        60: #46c4c0,
        80: #00b894,
    ),
);
