@use '../base/mixin' as mixins;

$table: (
    header: (
        z-index: 2,
        font-size: 0.875rem,
        background-color: var(--mat-form-field-filled-container-color),
    ),
    header-row-last-child: (
        border-bottom: var(--rt-table-header-cell-wrapper-border-width) solid var(--rt-border-neutral-default),
    ),
    body: (
        font-size: 0.875rem,
        background-color: transparent,
    ),
    row: (
        height: 3rem,
        color: var(--rt-text-base-primary),
        border-bottom: var(--rt-table-row-border-bottom-width) solid var(--rt-border-neutral-default),
        background-color: transparent,
    ),
    row-hover: (
        border-bottom: var(--rt-table-row-border-bottom-width) solid var(--rt-border-accent-info),
        transition: 0.2s,
    ),
    row-active: (
        border-bottom: var(--rt-table-row-border-bottom-width) solid var(--rt-border-accent-info),
    ),
    header-cell-wrapper: (
        padding: 0.625rem,
        text-color: var(--rt-text-base-primary),
        font-size: 1rem,
        font-weight: 500,
        text-align: left,
        line-height: 1.2,
        border-right: var(--rt-table-header-cell-wrapper-border-width) solid var(--rt-border-neutral-strong),
        background-color: var(--rt-bg-base-base),
    ),
    header-filterable-cell-wrapper: (
        padding: 0.25rem 0.5rem,
    ),
    base-cell-wrapper: (
        padding: 0.625rem,
    ),
    base-cell-wrapper-last-child: (
        padding: 0.625rem 4rem 0.625rem 0.625rem,
    ),
    actions: (
        z-index: 1,
    ),
    actions-container: (
        background-color: var(--rt-bg-base-base),
    ),
);

:root {
    @each $element, $elements in $table {
        @each $style-token, $value in $elements {
            #{mixins.generateCssVar('table', #{$element}, #{$style-token})}: #{$value};
        }
    }

    // initial table container scrollbar styles
    --rt-table-container-content-scrollbar-vertical-width: 0;
    --rt-table-container-content-scrollbar-horizontal-height: 12px;
    --rt-table-row-border-bottom-width: 1px;
    --rt-table-header-cell-wrapper-border-width: 1px;
}

// TABLE
.c-table {
    overflow: scroll;
    width: 100%;
    border-collapse: collapse;

    thead {
        position: sticky;
        z-index: var(--rt-table-header-z-index);
        top: 0;
        font-size: var(--rt-table-header-font-size);

        tr {
            &:last-child {
                border-bottom: var(--rt-table-header-row-last-child-border-bottom);
            }

            th {
                background-color: color-mix(in srgb, var(--rt-table-header-background-color), var(--rt-bg-base-base) 50%);

                &:not(.c-table__cell--filterable, .c-table__cell--empty) {
                    background-color: var(--rt-table-header-background-color);
                }

                &:hover {
                    &:not(.c-table__cell--selectable, .c-table__cell--filterable) {
                        background-color: color-mix(in srgb, var(--rt-table-header-background-color), var(--rt-bg-base-base) 30%);
                    }
                }
            }
        }
    }

    tbody {
        background-color: var(--rt-table-body-background-color);
        font-size: var(--rt-table-body-font-size);
    }
}

// ROW
.c-table__row {
    height: var(--rt-table-row-height);
    border-bottom: var(--rt-table-row-border-bottom);
    background-color: var(--rt-table-row-background-color);
    color: var(--rt-table-row-color);
    transform: translate(0);

    &--active {
        border-bottom: var(--rt-table-row-active-border-bottom);
    }

    &--clickable {
        cursor: pointer;
    }

    &:hover {
        border-bottom: var(--rt-table-row-hover-border-bottom);
        transition: var(--rt-table-row-hover-transition);

        .c-table-actions {
            visibility: visible;
        }
    }
}

// CELL
th.c-table__cell {
    position: relative;
    width: fit-content;
    height: 100%;
    padding: var(--rt-table-header-cell-wrapper-padding);
    background-color: var(--rt-table-header-cell-wrapper-background-color);
    color: var(--rt-table-header-cell-wrapper-text-color);
    font-size: var(--rt-table-header-cell-wrapper-font-size);
    font-weight: var(--rt-table-header-cell-wrapper-font-weight);
    line-height: var(--rt-table-header-cell-wrapper-line-height);
    pointer-events: none;
    text-align: var(--rt-table-header-cell-wrapper-text-align);

    &--sortable,
    &--selectable,
    &--filterable {
        pointer-events: auto;
    }

    &--filterable {
        padding: var(--rt-table-header-filterable-cell-wrapper-padding);
    }

    &:not(:last-child, &--selectable, &--empty) {
        &:after {
            position: absolute;
            top: 25%;
            right: 0;
            height: 50%;
            border-right: var(--rt-table-header-cell-wrapper-border-right);
            content: '';
            pointer-events: none;
        }
    }
}

td.c-table__cell {
    width: fit-content;
    height: 100%;
    padding: var(--rt-table-base-cell-wrapper-padding);
}

// ROW ACTIONS
.c-table-actions {
    position: absolute;
    z-index: var(--rt-table-actions-z-index);
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: var(--rt-table-row-height);
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;

    &__container {
        position: sticky;
        right: 0;
        display: flex;
        overflow: hidden;
        width: fit-content;
        height: calc(var(--rt-table-row-height) - var(--rt-table-row-border-bottom-width) - var(--rt-table-row-border-bottom-width));
        align-items: center;
        justify-content: flex-end;
        padding: 0 0.25rem 0 1.25rem;
        background: linear-gradient(
            to right,
            transparent 0%,
            color-mix(in srgb, var(--rt-table-actions-container-background-color) 30%, var(--rt-table-actions-container-background-color))
                10%,
            var(--rt-table-actions-container-background-color) 20%,
            var(--rt-table-actions-container-background-color) 100%
        );
        gap: 0.25rem;
        pointer-events: none;
    }

    &__action {
        position: sticky;
        pointer-events: auto;
    }

    @media (hover: hover) {
        &--hidden {
            visibility: hidden;
        }
    }
}
