:root {
    --clr-white: #ffffff;
    --clr-gray-5: #f5f6f8;
    --clr-black-15: #eeeeee;
    --clr-black-20: #e0e0e0;
    --clr-black-40: #a3a3a3;
    --clr-black-60: #747474;
    --clr-black-100: #181818;
    --clr-red-10: #fdedee;
    --clr-red-40: #f7b9bb;
    --clr-red-60: #f39699;
    --clr-red-100: #eb5055;
    --clr-blue-40: #b3ceef;
    --clr-blue-100: #4284d7;
    --clr-green-10: #e5f8f4;
    --clr-green-60: #46c4c0;
    --clr-base-accent: #0d1c2b;

    // Aside
    --rt-aside-width: 33.75rem;
    --rt-aside-box-shadow: 0 0 1rem 0 rgba(#000, 0.1);
    --rt-aside-background-color: var(--clr-white);
    --rt-aside-header-padding: 2rem;
    --rt-aside-content-padding: 0 2rem;
    --rt-aside-footer-padding: 2rem;

    --rt-aside-tab-indicator-width: 6rem;
    --rt-aside-tab-badge-color: var(--mdc-filled-button-container-color);
    --rt-aside-tab-badge-color-incorrect: var(--clr-red-100);

    --rt-aside-header-title-margin-left: 0.5rem;
    --rt-aside-header-title-font-size: 1.5rem;
    --rt-aside-header-title-line-height: 1.1;
    --rt-aside-header-title-font-weight: 600;

    --rt-aside-header-description-font-size: 1rem;
    --rt-aside-header-description-margin-bottom: 0.25rem;
    --rt-aside-header-description-color: var(--clr-black-60);

    --rt-aside-header-addition-font-size: 1rem;
    --rt-aside-header-addition-margin-top: 0.25rem;
    --rt-aside-header-addition-color: var(--clr-black-60);

    --rt-aside-header-action-button-margin-left: 0.75rem;

    --rt-aside-footer-margin-left-betwen-buttons: 1rem;

    --rt-aside-error-box-height: 2rem;
    --rt-aside-error-box-padding: 0.5rem;
    --rt-aside-error-box-margin: 2rem 0 2rem 0;
    --rt-aside-error-box-border: 1px solid var(--clr-red-60);
    --rt-aside-error-box-border-radius: 0.375rem;
    --rt-aside-error-box-title-font-size: 1rem;
    --rt-aside-error-box-title-font-color: var(--clr-red-60);
    --rt-aside-error-box-button-font-size: 1rem;
    --rt-aside-error-box-button-font-color: var(--clr-black-100);

    // Scrollable
    --rt-scrollable-height: 100%;
    --rt-scrollable-width: 100%;
    --rt-scrollable-display: flex;
    --rt-scrollable-flex-direction: column;
    --rt-scrollable-background-color: var(--clr-white);

    --rt-scrollable-header-padding: 0.5rem 1rem;
    --rt-scrollable-header-background-color: var(--clr-white);

    --rt-scrollable-content-display: flex;
    --rt-scrollable-content-flex-grow: 1;
    --rt-scrollable-content-padding: 1rem;
    --rt-scrollable-content-background-color: var(--clr-white);

    --rt-scrollable-footer-padding: 1rem;
    --rt-scrollable-footer-background-color: var(--clr-white);

    // Side menu
    --rt-side-menu-width: 5.5rem;
    --rt-side-menu-margin-top-between-items: 0.75rem;

    --rt-side-menu-item-width: 3.5rem;
    --rt-side-menu-item-height: 2rem;
    --rt-side-menu-item-font-size: 0.75rem;
    --rt-side-menu-item-text-align: center;
    --rt-side-menu-item-line-height: 1.1;

    --rt-mobile-side-menu-item-icon-size: 1.5rem;
    --rt-mobile-side-menu-item-title-font-size: 0.75rem;
    --rt-mobile-side-menu-item-additional-icon-size: 1rem;

    --rt-side-menu-sub-menu-width: 15rem;
    --rt-side-menu-sub-menu-item-width: 13.75rem;
    --rt-side-menu-sub-menu-item-title-font-size: 0.85rem;

    // Toolbar
    --rt-toolbar-body-background-color: transparent;
    --rt-toolbar-body-height-mobile: 3rem;
    --rt-toolbar-body-height: 3rem;
    --rt-toolbar-body-padding: 0 1rem;

    --rt-toolbar-border-bottom-style: solid;
    --rt-toolbar-border-bottom-width: 1px;
    --rt-toolbar-border-bottom-color: var(--clr-black-20);

    // Buttons
    // round
    --rt-round-icon-button-width: 1.5rem;
    --rt-round-icon-button-height: 1.5rem;
    --rt-round-icon-button-padding: 0.25rem;
    --rt-round-icon-button-z-index: 1;
    --rt-round-icon-button-background-color: var(--mat-list-active-indicator-color);
    --rt-round-icon-button-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.12),
        0 1px 18px 0 rgba(0, 0, 0, 0.14);
    --rt-round-icon-button-icon-size: 1.25rem;
}
