:root {
    --clr-white: #ffffff;
    --clr-black-20: #e0e0e0;
    --clr-black-60: #747474;

    // Scrollable
    --rt-scrollable-height: 100%;
    --rt-scrollable-width: 100%;
    --rt-scrollable-display: flex;
    --rt-scrollable-flex-direction: column;
    --rt-scrollable-background-color: var(--clr-white);

    --rt-scrollable-header-padding: 0.5rem 1rem;
    --rt-scrollable-header-background-color: var(--clr-white);

    --rt-scrollable-content-display: flex;
    --rt-scrollable-content-flex-grow: 1;
    --rt-scrollable-content-padding: 1rem;
    --rt-scrollable-content-background-color: var(--clr-white);

    --rt-scrollable-footer-padding: 1rem;
    --rt-scrollable-footer-background-color: var(--clr-white);

    // Side menu
    --rt-side-menu-width: 5.5rem;
    --rt-side-menu-margin-top-between-items: 0.75rem;

    --rt-side-menu-item-width: 3.5rem;
    --rt-side-menu-item-height: 2rem;
    --rt-side-menu-item-font-size: 0.75rem;
    --rt-side-menu-item-text-align: center;
    --rt-side-menu-item-line-height: 1.1;

    --rt-mobile-side-menu-item-icon-size: 1.5rem;
    --rt-mobile-side-menu-item-title-size: 0.75rem;
    --rt-mobile-side-menu-item-additional-icon-size: 1rem;

    --rt-side-menu-sub-menu-width: 15rem;
    --rt-side-menu-sub-menu-item-width: 13.75rem;
    --rt-side-menu-sub-menu-item-title: 1rem;

    --rt-side-menu-mobile-button-top: 1.25rem;
    --rt-side-menu-mobile-button-left: 1.25rem;
    --rt-side-menu-mobile-button-padding: 0.5rem;
    --rt-side-menu-mobile-button-z-index: 1;
    --rt-side-menu-mobile-button-background-color: var(--mat-list-active-indicator-color);
    --rt-side-menu-mobile-button-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.12),
        0 1px 18px 0 rgba(0, 0, 0, 0.14);
}
