// TABLE
.c-table {
    width: 100%;

    border-collapse: collapse;

    overflow-x: scroll;
    overflow-y: scroll;

    thead {
        position: sticky;
        top: 0;
        z-index: var(--rt-table-header-z-index);
        font-size: var(--rt-table-header-font-size);

        tr {
            th {
                background-color: var(--rt-table-header-background-color);

                &:hover {
                    background-color: color-mix(in srgb, var(--rt-table-header-background-color), var(--clr-white) 30%);
                }
            }
        }
    }

    tbody {
        font-size: var(--rt-table-boady-font-size);
        background: transparent;
    }
}

// ROW
.c-table__row {
    height: var(--rt-table-row-height);
    color: var(--rt-table-row-color);
    border-bottom: var(--rt-table-row-border-bottom);
    background-color: var(--rt-table-row-background-color);

    position: relative;
    pointer-events: none;

    &--active {
        border-bottom: var(--rt-table-row-active-border-bottom);
    }

    &--clickable {
        cursor: pointer;
        pointer-events: auto;
    }

    &:hover {
        border-bottom: var(--rt-table-row-hover-border-bottom);
        transition: var(--rt-table-row-hover-transition);

        .c-table-actions {
            visibility: visible;
        }
    }
}

// CELL
th.c-table__cell {
    width: fit-content;
    height: 100%;

    position: relative;

    pointer-events: none;

    padding: var(--rt-table-header-cell-padding);
    color: var(--rt-table-header-cell-text-color);
    font-size: var(--rt-table-header-cell-font-size);
    font-weight: var(--rt-table-header-cell-font-weight);
    text-align: var(--rt-table-header-cell-text-align);
    line-height: var(--rt-table-header-cell-line-height);
    border-bottom: var(--rt-table-header-cell-border-bottom);
    background-color: var(--rt-table-header-cell-background-color);

    &--sortable {
        pointer-events: auto;
    }

    &:not(:last-child) {
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 25%;
            height: 50%;
            border-right: var(--rt-table-header-cell-border-right);
            pointer-events: none;
        }
    }
}

td.c-table__cell {
    width: fit-content;
    height: 100%;

    padding: var(--rt-table-base-cell-padding);

    &--copyable {
        &:last-of-type {
            padding: var(--rt-table-base-cell-last-child-padding);
        }
    }
}

// ROW ACTIONS
.c-table-actions {
    width: 100%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    pointer-events: none;

    &__container {
        position: sticky;

        right: 0;
        width: 4rem;
        height: calc(100% - 1px);

        display: flex;
        justify-content: flex-end;
        align-items: center;

        background: linear-gradient(
            to right,
            rgba(var(--rt-table-row-actions-background-color-rgb), 0) 0%,
            rgba(var(--rt-table-row-actions-background-color-rgb), 0.7) 10%,
            rgba(var(--rt-table-row-actions-background-color-rgb), 1) 20%,
            rgba(var(--rt-table-row-actions-background-color-rgb), 1) 100%
        );
        pointer-events: none;
    }

    &__action {
        position: sticky;
        right: 0.5rem;
        pointer-events: auto;
    }

    &--hidden {
        visibility: hidden;
    }
}
