<ng-container rtBlock="login">
    <h1 rtElem="title" qa-dataid="kc-title">{{ title }}</h1>

    <rt-kc-message />

    <p rtElem="text" qa-dataid="kc-instruction">{{ instruction }}</p>

    <form rtElem="form" method="post" qa-dataid="kc-reset-form" [action]="context.url.loginAction" (submit)="send($event)">
        <rt-field reserveHintSpace [label]="usernameLabel" [attr.aria-label]="usernameLabel" [errors]="usernameErrors">
            <rt-input
                size="lg"
                autocomplete="username"
                iconLeft="user"
                qa-dataid="kc-username"
                [placeholder]="usernamePlaceholder"
                [formControl]="username" />
        </rt-field>

        <input type="hidden" name="username" [value]="value()" />

        <button
            rtButton
            size="lg"
            rtElem="submit"
            type="submit"
            qa-dataid="kc-reset-submit"
            [label]="submitLabel"
            [attr.aria-label]="submitLabel"
            [loading]="sending()"></button>
    </form>

    <nav rtElem="links">
        <a rtElem="link" qa-dataid="kc-back-to-login" [href]="context.url.loginUrl">{{ backLabel }}</a>
    </nav>
</ng-container>
