<ng-container rtBlock="login">
    <h1 rtElem="title" qa-dataid="kc-title">{{ title }}</h1>

    <rt-kc-message />

    <form rtElem="form" method="post" qa-dataid="kc-update-form" [action]="context.url.loginAction" (submit)="send($event)">
        <rt-field reserveHintSpace [label]="passwordNewLabel" [attr.aria-label]="passwordNewLabel" [errors]="passwordErrors">
            <rt-input
                size="lg"
                type="password"
                autocomplete="new-password"
                iconLeft="lock"
                qa-dataid="kc-password-new"
                [passwordToggle]="true"
                [formControl]="form.controls.passwordNew" />
        </rt-field>

        <rt-field reserveHintSpace [label]="passwordConfirmLabel" [attr.aria-label]="passwordConfirmLabel" [errors]="passwordErrors">
            <rt-input
                size="lg"
                type="password"
                autocomplete="new-password"
                iconLeft="lock"
                qa-dataid="kc-password-confirm"
                [passwordToggle]="true"
                [formControl]="form.controls.passwordConfirm" />
        </rt-field>

        <div rtElem="check">
            <rt-checkbox inputId="kc-logout-sessions" qa-dataid="kc-logout-sessions" [formControl]="form.controls.logoutSessions" />
            <label rtElem="check-label" for="kc-logout-sessions">{{ logoutSessionsLabel }}</label>
        </div>

        <input type="hidden" name="password-new" [value]="value().passwordNew" />
        <input type="hidden" name="password-confirm" [value]="value().passwordConfirm" />
        @if (value().logoutSessions) {
            <input type="hidden" name="logout-sessions" value="on" />
        }

        <button
            rtButton
            size="lg"
            rtElem="submit"
            type="submit"
            qa-dataid="kc-update-submit"
            [label]="submitLabel"
            [attr.aria-label]="submitLabel"
            [loading]="sending()"></button>
        @if (context.isAppInitiatedAction) {
            <button
                rtButton
                size="lg"
                rtElem="submit"
                type="submit"
                appearance="outlined"
                theme="secondary"
                value="true"
                qa-dataid="kc-update-cancel"
                [name]="cancelName"
                [label]="cancelLabel"
                [attr.aria-label]="cancelLabel"></button>
        }
    </form>
</ng-container>
