@if (caption()) {
    <h3 class="app-story-presets__caption">{{ caption() }}</h3>
}
<div class="app-story-presets__panes">
    @if (single()) {
        <div class="app-story-presets__pane" data-theme="light">
            @if (pane(); as template) {
                <ng-container [ngTemplateOutlet]="template" />
            }
        </div>
    } @else {
        <div class="app-story-presets__pane" data-theme="light">
            <span class="app-story-presets__label">Свой набор</span>
            @if (pane(); as template) {
                <ng-container [ngTemplateOutlet]="template" />
            }
        </div>
        <div class="app-story-presets__pane app-story-presets__pane--material" data-preset="material" data-theme="light">
            <span class="app-story-presets__label">Материальный набор</span>
            @if (pane(); as template) {
                <ng-container [ngTemplateOutlet]="template" />
            }
        </div>
    }
</div>
