@use '@angular/material' as mat;

@use '../src/styles/main';

@use '../src/styles/base/variables' as vars;
@use '../src/styles/base/mixin' as mixins;

@include mat.core();

$mat-theme: mat.define-theme(
    (
        color: (
            theme-type: vars.$main-theme,
            primary: mat.$violet-palette,
        ),
        typography: (
            plain-family: var(--font-default),
            bold-weight: 900,
            medium-weight: 500,
            regular-weight: 400,
        ),
        density: (
            scale: -1,
        ),
    )
);

:root {
    --font-default: roboto, 'Helvetica Neue', sans-serif;
}

html {
    @include mat.all-component-themes($mat-theme);

    & {
        font-family: var(--font-default);
    }
}

// For correct displaying modal height in storybook
.mat-mdc-dialog-container {
    max-height: 100vh;
}
